.ArtistBand{
    width: 345px;
    background-color: #e6e6e6;
    height: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
       
}
.had{
    font-size: 27px;
    font-family: 'Inter', sans-serif;

    font-weight: 600;
}
.bandlogo{
    
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.BandCover{
   
    display: flex;
    position: relative;
    align-items: center;
    font-size: 20px;
    margin-top: 10px;

}
.bandName{
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    color: #636361;
}
.Subscribers{
    margin-left: 20px;
    margin-top: -1px;
    font-size: 12px;
    color: #787877;
}
.showMore{
   margin-left: 317px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   font-size: 13px;
   padding: 7px 10px;
   font-family: 'PT Sans', sans-serif;
   font-weight: 600;
   position: absolute;
   color: white;
   background-color: #252d3a;
}
.shows{
    background-color: #252d3a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 13px;
    padding: 7px 15px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: 120px;
}